.arrow-icon {
    transition: transform .4s ease;
    transform: rotate(-45deg);
}

.login-stack:hover .arrow-icon {
    transform: rotate(0deg);
}

.arrowdown-icon {
    transition: transform 0.3s ease;
}

.login-stack:hover .arrowdown-icon {
    transform: rotate(45deg);
}
